ion-slide {
  height: 100vh;
  flex-direction: column;
  text-align: justify;
}
ion-img {
  max-width: 100vw;
  max-height: 100vh;
}
.step-one {
  background-color: #00fcff;
}
.step-two {
  background-color: rgb(255, 174, 0);
}
.step-three {
    background-color: rgb(204, 0, 255);
}
