
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="step-one">
      
      <ion-img src="./assets/slides/Slide-1.png"></ion-img>
    </ion-slide>
    <ion-slide class="step-two">
      <ion-img src="./assets/slides/Slide-2.png"></ion-img>
      
    </ion-slide>
    <ion-slide class="step-three">
      <ion-img src="./assets/slides/Slide-3.png"></ion-img>
      
      <ion-button expand="block" color="secondary" [routerLink]="['../tabs/tab1']">Başla</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
