<ion-header> 
  <ion-toolbar color="secondary"> 
      <ion-title>Ödeyemeyenler</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page">
  <ion-grid>
      <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-card>
                  <ion-card-header>
                      <ion-card-title>Yeni Ödeme</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-item>
                          <ion-label position="floating">Ödemenin adı</ion-label>
                          <ion-input type="text" id="input-name"></ion-input>
                        </ion-item>
                        <ion-item> 
                          <ion-label position="floating">Ödemenin miktarı</ion-label>
                          <ion-input type="number" id="input-amount"></ion-input>
                        </ion-item>
                        <div class="ion-text-right ion-margin-vertical">
                        <ion-button fill="outline" color="danger" id="btn-sil">
                            <ion-icon slot="start" name="close-circle-outline"></ion-icon>Sil</ion-button>
                        <ion-button id="btn-add">Ekle<ion-icon slot="end" name="add-circle-outline"></ion-icon></ion-button>
                      </div> 
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-md="6" offset-md="3">
              <ion-card>
                  <ion-card-header>
                      <ion-card-title>Hatirlatma zamani</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                        <ion-label>Tarih</ion-label>
                        <ion-datetime display-format="DD MMM YYYY"></ion-datetime>
                      </ion-item>
                      <ion-item>
                        <ion-label>Saat</ion-label>
                        <ion-datetime display-format="hh mm A"></ion-datetime>
                      </ion-item>
                      <ion-button expand='block'>Ekle<ion-icon slot="end" name="add-circle-outline"></ion-icon></ion-button>
                  </ion-card-content>
              </ion-card>
       
          </ion-col>
      </ion-row>
  </ion-grid>

 

  
 
  
 
</ion-content>



