<ion-header> 
      <ion-toolbar color="secondary"> 
          <ion-title>Feed</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <div *ngFor="let feed of items" class="category-block" >
         <!-- <ion-row no-padding class="category-banner"> 
              <ion-col button tappable (click)="feed.expanded =!feed.expanded" align-self-center>
               
              </ion-col>
          </ion-row>
        -->
      
          <ion-slides pager="true" [options]="slideOpts" >
            <ion-slide *ngFor="let content of feed.content">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{ feed.category }}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-img src="./assets/tab1/money.jpg"></ion-img>
                        {{ content.inside }}</ion-card-content>
                </ion-card>

            </ion-slide>
         
          </ion-slides>
        </div>
   

      
     
  </ion-content>



