<ion-header> 
      <ion-toolbar color="secondary"> 
          <ion-title>Feed</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content class="page">
      <div *ngFor="let feed of items" class="category-block" >
          <ion-row no-padding class="category-banner"> 
              <ion-col button tappable (click)="feed.expanded =!feed.expanded" align-self-center>
               {{ feed.category }}
              </ion-col>
          </ion-row>
      
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let content of feed.content">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>{{ content.inside }}</ion-card-title>
                    </ion-card-header>
                </ion-card>

            </ion-slide>
         
          </ion-slides>
        </div>
   

      
     
  </ion-content>



