
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Searchbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>Faturalar</ion-item>
    <ion-item>Ev Kredisi</ion-item>
    <ion-item>Araba kredisi</ion-item>
    <ion-item>Okul Masraflari</ion-item>
    <ion-item>Cep Telefonu Taksidi</ion-item>
    <ion-item>Bilgisayar Taksidi</ion-item>
    <ion-item>Tatil Plani</ion-item>
 </ion-list>
</ion-content>

